$cWhite: white;
$cBlack: black;
$cSubTitle: #838181;
$cBgGray: #eaebe6;
$contentMaxWidth: 1070px;
$navMobileHeight: 80px;
$navHeight: 119px;
$cDark: rgb(13,13,13);
$cBgGray2: #343333;
$cOrange: #9d2b14e6;
$cRed: #660505;