/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

//共通パーツ
body {
  font-family: "Kameron", "Noto Sans JP", sans-serif;
  background-color: $cBgGray2;
  color: $cWhite;
}

a {
  color: $cBlack;
  text-decoration: none !important;
 
}

img {
  max-width: 100%;
  vertical-align: bottom;
}
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 17px;
}
.font-lr {
  font-size: 17px;
}
.font-lg {
  font-size: 25px;
}

.mt-lg {
  margin-top: 80px !important;
}

.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}

.ps-sm{
  padding-right: 16px;
  padding-left: 16px;
}

.ps-lg{
  padding-right: 24px;
  padding-left: 24px;
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}
.main-title {
  @extend .font-lg;
  font-weight: 400;
  margin-bottom: 0;
  display: block;
}
.sub-title {
  @extend .font-md;
  color: $cSubTitle;
}
.flex {
  display: flex;
  flex-direction: column;
}

#main-content {
  position: relative;
  z-index: 0;
}

main {
  position: relative;
  z-index: -1;
  background-color: $cDark;
  min-height: 100vh;
}

#container {
  background-color: $cDark;
  position: relative;
  z-index: 10;
  transition: transform 0.5s, box-shadow 0.5s;
}



//header
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navMobileHeight;
  background-color: rgb(102, 5, 5); // transparent;
  display: flex;
  align-items: center;
  z-index: 100;
  padding: 20px 30px;

  &.triggered {
    background-color: rgba(102, 5, 5, 0.9);
    box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
  }

  &__nav {
    display: none;
  }

  &__ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__li {
    margin-left: 20px;

    & > a {
      color: $cBlack;
      text-decoration: none !important;
      text-transform: uppercase;
      transition: color 1s;
      &:hover{
        color:$cWhite;
      }
    }
  }

  & .logo {
    font-size: 1.4em;
    justify-content: center;
    &__img {
      transition: 1s;
      &:hover {
        filter:invert(1) ;
      }
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .content-width;
  }
}








//loading/top
.pace-done #global-container {
  transition: opacity 0.5s;
  opacity: 1;

  & .banner {
    position: relative;
    width: 100%;
    height: 130vh;
    padding: 0 100px;
    // background: #111;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      right: -12%;
      top: 0;
      width: 400px;
      height: 100%;
      background: $cOrange; /* #d72f2f; */
      opacity: 0.4;
      transform-origin: top;
      transform: skewX(-26deg);
      @include animation(
        $name: top-slide,
        $duration: 2s,
        $delay: 0s,
        $timing-function: cubic-bezier(0.42, 0, 0.15, 1.01),
        $iteration-count: 1,
        $fill-mode: forwards
      );
      z-index: 1;
    }
    & video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      opacity: 0.15;
      pointer-events: none;
    }

    & .textBox {
      position: relative;
      top: -10%;
      left: -30%;
      width: 100%;
      z-index: 2;
      & h2 {
        color: #fff;
        font-size: 2.7em;
        opacity: 0;
        @include animation(
          $name: fadeIn,
          $duration: 1s,
          $delay: 1s,
          $timing-function: cubic-bezier(0.42, 0, 0.15, 1.01),
          $iteration-count: 1,
          $fill-mode: forwards
        );
        & .titleColor {
          color: $cRed;
        }
      }

      & p {
        white-space: nowrap ;
        color: #fff;
        font-size: 0.8em;
        margin: 5px 0 25px;
        opacity: 0;
        @include animation(
          $name: fadeIn,
          $duration: 1s,
          $delay: 1.5s,
          $timing-function: cubic-bezier(0.42, 0, 0.15, 1.01),
          $iteration-count: 1,
          $fill-mode: forwards
        );
      }
    }

    & .imgBox {
      display: none;
    }

    & .scroll__arrow{
      position: absolute;
      top: calc(50% - -50px);
      left: calc(50% - 30px);
      z-index: 12;
      opacity: 0;

      @include animation(
        $name: fadeIn,
        $duration: 1s,
        $delay: 2s,
        $timing-function: cubic-bezier(0.42, 0, 0.15, 1.01),
        $iteration-count: 1,
        $fill-mode: forwards
      );
      &-container{
        position: relative;
        a {
          padding-top: 70px;
          color: $cWhite;
          cursor:default;
        }
        a span {
          position: absolute;
          top: 20px;
          left: 50%;
          width: 24px;
          height: 24px;
          margin-left: -12px;
          border-left: 1px solid $cWhite;
          border-bottom: 1px solid $cWhite;
          transform: rotate(-45deg);
          animation: sdb 1.5s infinite;
        }
        @keyframes sdb {
          0% {
            transform: rotate(-45deg) translate(0, 0);
            opacity: 0;
          }
          50% {
            opacity: 1;
          }
          100% {
            transform: rotate(-45deg) translate(-20px, 20px);
            opacity: 0;
          }
        }

      }
  }
  }


// スマホ横画面
// @media (max-width: 750px) {
//   .banner {
//     & .textBox {
//       top: 2%;
//       left: 0;
//       & h2 {
//         font-size: 3em;
//       }
//     }
//     .scroll__arrow {
//       left: 85%;
//     }
//   }
// }

}

#global-container {
  opacity: 0;
}

.pace {
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  &-progress {
    transform: none !important;
    text-align: center;
  

  &::after {
    content: attr(data-progress-text);
    display: block;
    font-weight: 400;
    font-size: 2em;
    font-family: "Helvetica Neue", "Yu Gothic", "Meiryo", sans-serif;
    color: $cWhite;
  }
 }
 &-inactive {
   display: none;
 }

 &-progress-inner {
  width: 80px;
  height: 80px;
  background-image: url("data:image/svg+xml,%3Csvg%20id%3D%22elbowspin%22%20data-name%3D%22elbowspin%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2091.02%2075.08%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M95.84%2C35.4c-.26-.66-1.83-.3-3.83-.3a7.05%2C7.05%2C0%2C0%2C0-3.28.7A1.7%2C1.7%2C0%2C0%2C1%2C87.6%2C36c-1.43-.21-1.2.25-3%2C.11a64.38%2C64.38%2C0%2C0%2C0-6.8-.22.74.74%2C0%2C0%2C1-.36%2C0%2C9.2%2C9.2%2C0%2C0%2C0-3.83-.51%2C11.13%2C11.13%2C0%2C0%2C1-4-.12.8.8%2C0%2C0%2C1-.4-.25%2C5.81%2C5.81%2C0%2C0%2C1-1-2.2c-.61-2.18-.43-4.06-3.25-5.91-3.7-2.44-3.53-2.18-5.78-2.36a19.28%2C19.28%2C0%2C0%2C0-8.26%2C1.16c-.39.13-3.19%2C1.81-4%2C2.32-.62.4-1-.54-2.09-.19%2C0%2C0-.45-.14-1.31%2C1-.2.27-4.15.76-7%2C2.23-4.79%2C2.46-6.22%2C2.34-6.22%2C2.34s-1%2C0-3.55%2C1.62c-1.43.88-2.15.22-2.41-.17a.76.76%2C0%2C0%2C1-.13-.44v-.79a48.48%2C48.48%2C0%2C0%2C1-1.24-7c0-.07-.37-2.89-.57-3.64s-.9-1.24-1.35-1.8c-.15-.18-.26-.5-.06-.63s.2-.18.43-.42a1%2C1%2C0%2C0%2C0%2C.29-.75c0-.94-.13-2.68-.72-3-1.08-.51-.13-1.15.2-1.29.51-.21%2C1-1.05.85-1.31-.38-.7-1.23%2C0-2.34.34-4%2C1.29.22-.47.22-.47s2.53-.78%2C2.4-1.69c-.16-1.07-2.36-.22-3.59.2-2.72.92%2C1.43-1%2C1.43-1s1.88-.43%2C2-.75c.4-.87%2C0-1.19-2.22-.93h0a11.93%2C11.93%2C0%2C0%2C0-2.77.89c-1.9%2C1%2C.66-1%2C.66-1s1.94-.21%2C1.94-1.21S17%2C8.22%2C17%2C8.22A7.23%2C7.23%2C0%2C0%2C0%2C14.86%2C9.6a1%2C1%2C0%2C0%2C0-.31.6c-.08%2C1-.08%2C2-.08%2C2s-.67%2C8.09%2C1.81%2C11.54l.1.21c.26%2C1.15.15%2C7.29.47%2C9.25a.78.78%2C0%2C0%2C1-.47.88c-.7.26-1.2-.2-1.2.58v1.7a.78.78%2C0%2C0%2C1-.16.49%2C4.71%2C4.71%2C0%2C0%2C0-.84%2C2.81A5.64%2C5.64%2C0%2C0%2C1%2C13.82%2C42a.71.71%2C0%2C0%2C1-.12.18l-1.07%2C1.22a.83.83%2C0%2C0%2C0-.19.4%2C8.16%2C8.16%2C0%2C0%2C0%2C0%2C2.71c.2%2C1%2C.37%2C1.75.5%2C2.25a.77.77%2C0%2C0%2C1-.58%2C1%2C12.1%2C12.1%2C0%2C0%2C0-4.17%2C1.88%2C6.46%2C6.46%2C0%2C0%2C0-3%2C5s0%2C4%2C1%2C6a13.35%2C13.35%2C0%2C0%2C0%2C1.91%2C2.91l.2.15c.73.4%2C5.06%2C2.66%2C6.12%2C2.12%2C1.82-.91%2C3.77.82%2C3.77.82s.81.27%2C1%2C0a1.9%2C1.9%2C0%2C0%2C1%2C1.41-.89l1.59-.11s1.22-.71%2C1.1-1.38c-.08-.46.85-.58%2C1.28-.59%2C1.13%2C0%2C.42.14%2C1.42%2C1.14s2.37%2C3%2C5.1%2C3.7c3.05.83%2C4.93.23%2C4.75%2C1.35-.13.8%2C1.45-.1%2C1.83-.38l1.1-1a.39.39%2C0%2C0%2C1%2C.56.11%2C5.89%2C5.89%2C0%2C0%2C0%2C.86%2C1%2C7.85%2C7.85%2C0%2C0%2C1%2C1.37%2C1.85.88.88%2C0%2C0%2C0%2C.19.24l.39.33a3.17%2C3.17%2C0%2C0%2C1%2C.95%2C1.33l.1.25s.68.49.24%2C1-.79%2C1.12-3.09%2C1.52c-.44.08-.95-1.06-.95-1.06a3.91%2C3.91%2C0%2C0%2C0-.51-2%2C1.32%2C1.32%2C0%2C0%2C0-1.25-.49c-.32-.25-.79-.6-1.08-.52-.54.15-.5-.27-1.33-.24.51-2-.83-.47-1-.34-.62.57-1.52-.67-2.07%2C1.92-.2%2C1-.43%2C2.25-.43%2C2.25s-.15%2C1.63.53%2C1.85a10.9%2C10.9%2C0%2C0%2C1%2C3.43%2C2.09%2C8.62%2C8.62%2C0%2C0%2C0%2C1.39%2C1l.19.08a9.64%2C9.64%2C0%2C0%2C0%2C3.62.13c1.61.11%2C7.46-1.12%2C8.11-1.26l.12%2C0c.46-.19%2C3.3-1.46%2C3.34-3.68%2C0-3-1.29-4.18-1.29-4.18v-.33s4.26-.21%2C5.89-.41c1.8-.23%2C4.38-.63%2C6.37-.81.81-.08%2C3-.06%2C4.08-.76A4.63%2C4.63%2C0%2C0%2C1%2C70%2C70.48a11.61%2C11.61%2C0%2C0%2C0%2C2.86-.59%2C1.08%2C1.08%2C0%2C0%2C0%2C.65-.39c.16-.2.81-.81.81-.81a3.27%2C3.27%2C0%2C0%2C0%2C1.14-2.61%2C2.44%2C2.44%2C0%2C0%2C1%2C.59-1.75s.54-.39.53%2C1.75c0%2C1.32-.57%2C4.3.43%2C5.3a1.75%2C1.75%2C0%2C0%2C0%2C2.17.24%2C9.16%2C9.16%2C0%2C0%2C0%2C3.46-5.16c.89-2.72.44-6.86.33-8.86-.08-1.61-.28-3.16-.41-4.05a.81.81%2C0%2C0%2C1%2C.64-.92%2C18.16%2C18.16%2C0%2C0%2C0%2C4-1.12c1.76-.82-2.42-7.63%2C2.11-2.41a2.18%2C2.18%2C0%2C0%2C0%2C3.6-.73%2C27.3%2C27.3%2C0%2C0%2C0%2C1.3-4.11%2C4.16%2C4.16%2C0%2C0%2C1%2C1-2.41A8.34%2C8.34%2C0%2C0%2C0%2C95.84%2C35.4ZM50%2C55.52c-.09%2C1-1%2C1.76-1.49%2C3.07-.63%2C1.5-1%2C3.9-2.12%2C5.17a6%2C6%2C0%2C0%2C0-1%2C3%2C.06.06%2C0%2C0%2C1-.12%2C0c-.2-.69%2C0-1.62-2.5-3A2.69%2C2.69%2C0%2C0%2C1%2C42%2C59.52c1-1%2C.64-1.4%2C2.56-2%2C3.8-1.1%2C4.4-2.28%2C4.4-2.28l.8-.57S50.13%2C54.07%2C50%2C55.52Zm20.21-2.35A5.09%2C5.09%2C0%2C0%2C1%2C68%2C54a6.15%2C6.15%2C0%2C0%2C0-3%2C3c-.65%2C1-2.31.78-2.31.78a5.66%2C5.66%2C0%2C0%2C0%2C2.31-3%2C14.71%2C14.71%2C0%2C0%2C0%2C.25-2.6s.3.33%2C2.54.45S70.57%2C52.74%2C70.21%2C53.17Z%22%20transform%3D%22translate(-5.18%20-7.84)%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  margin: 0 auto;
  filter: drop-shadow(1px 5px 10px  rgb(0, 0, 0));
  @include animation(
    $name: sk-rotateplane,
    $duration: 1s,
    $iteration-count: infinite,
    $timing-function: ease-in-out
  );
}

@keyframes sk-rotateplane {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }

  // 0% {
  //   transform: perspective(120px) rotateY(0deg);
  // }
  // 50% {
  //   transform: perspective(120px) rotateY(-180deg);
  // }
  // 100% {
  //   transform: perspective(120px) rotateY(-180deg);
  // }
}

}













//profile

.profile {
  @extend .content-width;
  @extend .mb-lg;

  &__inner {
    @extend .flex;
    justify-content: space-between;
    padding: 15px;
    background-color: $cBgGray2;
    position: relative;
    z-index: 0;
  }

  &__title {
    position: relative;
  }

  &__sub {
    @extend .mb-sm;
  }

  &__img {
    height: 300px;
    @extend .mb-sm;
    transition: box-shadow 1ms linear 0.8s;

    & > img {
      position: relative;
      z-index: -1;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &.inview {
      box-shadow: inset 0 0 30px $cBlack;
    }
  }
  &__btn {
    text-align: center;
  }
  &__texts {
    @extend .pb-sm;

  }
}





//blog
.blog{
  @extend .content-width;
  @extend .mb-lg;
  &__category{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin-top: 1.1em;
    opacity: 0;
  
    &.inview {
      opacity: 0;
      
      @include animation(
        $name: fadeIn,
        $duration: 0.5s,
        $delay: 0.5s,
        $timing-function: cubic-bezier(0.42, 0, 0.15, 1.01),
        $iteration-count: 1,
        $fill-mode: forwards
      );
    }
  }
  
  &__category-list {
    margin-right: 1.3em;
    font-size: 0.8em;
    &:last-child{
      margin-right: 0px;
    }
    a{
      color:$cWhite;
      &:hover{
        color: $cRed;
        transition: all 1s ease 0s;
      }
    }
  }
  
  
  &__items {
    margin-top: 30px;
    opacity: 0;
  
    &.inview,
    &.loaded {
      opacity: 0;
      
      @include animation(
        $name: fadeIn,
        $duration: 0.5s,
        $delay: 0.5s,
        $timing-function: cubic-bezier(0.42, 0, 0.15, 1.01),
        $iteration-count: 1,
        $fill-mode: forwards
      );
    }
  }
  
  
  &__item {
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 3px 3px 15px #60606029;
    background: #343333;
    text-align: left;
    &:hover {
      box-shadow: 3px 3px 15px #5f000073;
    }
    &-meta {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
    }
    &-tag{
      background: $cRed;
      color: $cWhite;
      display: block;
      font-size: 14px;
      margin-right: 15px;
      padding: 3px 14px 2px;
    }
    &-published{
      color: $cWhite;
      font-size: 14px;
      margin-top: 4px;
    }
  }


  &__media {
      overflow: hidden;
      background: #343333;
      border-radius: 4px;
      padding: 16px;
      display: block;    
      text-decoration: none;
      transition: all 1s ease 0s;
    
      &:hover {
      opacity: 0.8;
      background-color: #660505;
      height: 100%;
      
      .blog__item-tag{
        background: rgb(0, 0, 0);
      transition: all 1s ease 0s;
    
      }
    }
    &-img {
      overflow: hidden;
      width: 305px;
      height: 305px;
      margin: 0 auto;
      img{
          vertical-align: bottom;
          width: 305px;
          height: 305px;
          object-fit: cover;
          transition: transform 0.5s;
          z-index: 1;
          &:hover{
             transform: scale(1.1);
          }
      }
    }
    
    &-body {
      padding: 22px 0 0;
    }


    &-title {
      font-weight: 700;
      font-size: 20px;
      color: $cWhite;
    }
    
    &-content {
      font-weight: 700;
      color: $cWhite;
      margin-top: 14px;
      line-height: (24 / 16);
    }
  }
  
}







//pagenation
.pagenation {
	margin-top: 12px;
	text-align: center;
}

.pagenation a {
	transition: all 1s ease 0s;
}

.pagenation a:hover {
  color: $cWhite;
  background: $cRed;
	border: 1px solid $cRed;
}

.pagenation a.next,
.pagenation a.prev {
  font-size: 30px;
  background-color: transparent;
}

.pagenation a.next:hover,
.pagenation a.prev:hover {
  opacity: 0.6;
  color:$cRed;
  border: transparent;
}

.page-numbers {
	background: #343333;
	border: 1px solid #343333;
	color: $cWhite;
	display: inline-block;
	font-family: "Lato", sans-serif;
	font-size: 20px;
	height: 40px;
	line-height: 38px;
	margin-right: 14px;
	min-width: 40px;
	text-align: center;
	text-decoration: none;
}

.page-numbers:last-child {
	margin-right: 0;
}

.page-numbers.current {
	background: $cRed;
	border: 1px solid $cRed;
	color: #fff;
	font-weight: 700;
}

.page-numbers.dots{
  border: none;
	line-height: 40px;
	min-width: initial;
  width: auto;
  background-color: transparent;
}

.page-numbers.next,
.page-numbers.prev {
	border: none;
	line-height: 40px;
	min-width: initial;
	width: auto;
}



//パンくず
.breadcrumb {
  margin-top: 40px;
}

span.post.post-post.current-item {
  font-size: 10px;
}

.home{
  color: $cWhite;
}


.archive-lead {
  border-bottom: 1px solid $cRed;
  display: inline-block;
  margin: 10px 0;
}



//blog single.php用 

.blog__single {
  @extend .content-width;
  @extend .mb-lg;

  &__inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    background-color: $cBgGray2;
    position: relative;
    z-index: 0;
  }

  &__title {
    position: relative;
  }

  &__sub {
    @extend .mb-sm;
  }

  &__img {
    height: 300px;
    @extend .mb-sm;
    transition: box-shadow 1ms linear 0.8s;

    & > img {
      position: relative;
      z-index: -1;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &.inview {
      box-shadow: inset 0 0 30px $cBlack;
    }
  }

  &__texts {
    @extend .pb-sm;

  }
  &__link {
    margin: 0 auto;
    padding: 15px;
    position: relative;
    &:before{
      content: "";
      position: absolute;
      bottom: 8px;
      left: 0;
      width: 50%;
      height: 4px;
      border-radius: 3px;
      background-color: $cRed;
      box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
      transition: 5s ease;  
      @include animation(
        $name: slide-underline-left,
        $duration: 3s,
        $delay: 1s,
        $timing-function: cubic-bezier(0.42, 0, 0.15, 1.01),
        $iteration-count: infinite,
        $fill-mode: forwards
      );
    }
    a {
      color: #fff;
      font-size: 1.2em;
      transition: color 1s;
      padding-right: 40px;
      &:last-child{
        padding-right: 0;
      }

      &:hover{
        color:$cRed;
      }
    }
  }
}

.entry {
	background: transparent;
  padding: 40px 20px 12px;
  word-break: break-all;
}

.entry-label {
	display: inline-block;
	margin-bottom: 18px;
}

.entry-label {
  a {
    background: $cRed;
    color: #fff;
    display: block;
    font-size: 12px;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    &:hover {
      opacity: 0.6;
    }
  }
}



.entry-title {
	font-size: 22px;
	font-weight: 600;
	line-height: 1.4;
	margin-bottom: 18px;
}

.entry-meta {
	align-items: center;
	display: flex;
	margin-bottom: 18px;
}

.entry-published,
.entry-updated {
	color: #808080;
	font-size: 12px;
}

.entry-published::before,
.entry-updated::before {
	margin-right: 8px;
}

.entry-updated {
	margin-left: 27px;
}

.entry-updated{
  &::before {
  }
}


.entry__profile-img{
  text-align: center;
  overflow: hidden;
  .inset {
    box-shadow: inset 0 0 30px $cBlack;
  }
  img{
    vertical-align: bottom;
    width: 305px;
    height: 235px;
    object-fit: cover;
    &.attachment-large.size-large.wp-post-image {
      z-index: -1;
      position: relative;
  }
  }
}


.entry-img {
  text-align: center;
  overflow: hidden;
  img{
      vertical-align: bottom;
      width: 305px;
      height: 305px;
      object-fit: cover;
  }
}

.entry-tag-items {
	border-top: 1px solid #e2e2e2;
	display: flex;
	flex-wrap: wrap;
	padding: 20px 0;
}

.entry-tag-head {
	background: #808080;
	border-radius: 3px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-right: 15px;
	padding: 6px 15px 0;
}

.entry-tag-head{
  &::before {
    content: "\f02b";
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 900;
    margin-right: 5px;
  }
}

.entry-tag-item {
	margin-bottom: 10px;
	margin-right: 15px;
}

.entry-tag-item{
  &:last-child {
    margin-right: 0;
  }
}

.entry-tag-item{
  a {
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    color: #808080;
    display: block;
    font-size: 14px;
    padding: 6px 18px 5px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    &:hover {
      background: #808080;
      border-color: #808080;
      color: #fff;
    }
  }
}



.entry-body {
	margin-top: 32px;
  padding-bottom: 44px;

  & h2 + p,
  & h3 + p,
  & h4 + p,
  & h5 + p,
  & h6 + p {
    margin-top: 0;
  }
  h2 {
    background: $cRed;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 25px;
    margin-top: 50px;
    padding: 20px 20px;
    position: relative;
    text-align: left;
    &::after {
      border: 5px solid transparent;
      border-top: 15px solid $cRed;
      content: "";
      height: 0;
      left: 24px;
      position: absolute;
      top: 100%;
      width: 0;
    }
  }
  h3 {
    border-bottom: 3px solid $cRed;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-bottom: 5px;
  }
  h4 {
    font-size: 10px;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 16px;
    margin-top: 15px;
    padding-left: 42px;
    position: relative;

  }
  h5 {
    font-size: 8px;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  h6 {
    font-size: 6px;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 1em;
    margin-top: 2em;
  }
  p {
    line-height: 1.875;
    margin-top: 30px;
  }


  ul {
	list-style-type: disc;
	margin-bottom: 1em;
	padding-left: 20px;
}

  ol {
	list-style-type: decimal;
	margin-bottom: 1em;
	padding-left: 20px;
}

  li {
	line-height: 1.6;
	margin-bottom: 0.4em;
	margin-top: 0.4em;
}

  blockquote {
	background: #eee;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 1em;
}
 blockquote > :first-child {
	margin-top: 0;
}

 blockquote > :last-child {
	margin-bottom: 0;
}

 q {
	background: #eee;
	display: inline-block;
	padding-left: 0.2em;
	padding-right: 0.2em;
	vertical-align: middle;
}

 & strong,
 & b {
	color: red;
}


 a {
	color: #1592e6;
	font-weight: 600;
  transition: all 0.3s ease 0s;
  &:hover {
    opacity: 0.6;
  }
}

th,
td {
    text-align: inherit;
    border: 1px solid white;
    padding: 5px;
    font-size: 0.6em;
}

 img {
  vertical-align: middle;
  object-fit: contain;
}



 .entry-btn {
	margin: 1em 0;
  text-align: center;
  & .btn {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
  text-decoration: none;
  &:hover {
    opacity: 1;
  }
}
}

}



.entry-links {
	margin-top: 32px;
  text-align: center;
  
.post-page-numbers {
	background: #fff;
	border: 1px solid #666;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-left: 8px;
	margin-right: 8px;
	min-width: 30px;
	text-align: center;
}

.post-page-numbers.current {
	background: #666;
	color: #fff;
}

.post-page-numbers{
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}


a {
	text-decoration: none;
  transition: all 0.3s ease 0s;
  &:hover {
    background: #666;
    color: #fff;
  }
}

}



.wp-block-embed__wrapper{
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow:auto; 
  iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:none;
    display:block;
  }
}

//insta埋め込み
@media screen and (max-width: 899px){
  .instagram-media{
    width:300px !important;
    max-width: 100% !important;
    min-width: initial !important;
  }
}




//memories
.memories {
  @extend .content-width;
  @extend .mb-lg;

  &__inner {
    @extend .flex;
  }

  &__title {
    @extend .font-lr;
    margin-bottom: 3px;
    
  }
  &__subtitle{
    font-size: 0.9em;
    @extend .mb-sm;

  }


  &__btn {
    text-align: center;
    flex-basis: 100%;
  }
}

.skills {
  @extend .content-width;
  &__inner {
    padding-top: 20px;

    & .colum1,
    .colum2,
    .colum3,
    .colum4 {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
      text-align: center;
      grid-gap: 1rem;
      padding: 1rem 0rem;
      font-size: 1.2rem;
      opacity: 0;


      &.inview {
        @include animation(
          $name: fadeIn,
          $duration: 3s,
          $delay: 0.5s,
          $timing-function: cubic-bezier(0.42, 0, 0.15, 1.01),
          $iteration-count: 1,
          $fill-mode: forwards
        );
      }

      & .skill-box {
        padding: 1rem 0rem;
        color: #ddd;
        

        &:hover > .skill-title:after,
        &:hover > .skill-title:before {
          width: 35px;
        }
        &:hover .img {
          transform: translateY(-10px);
        }
      }

      & .skill-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 50%;
          width: 0;
          height: 4px;
          border-radius: 2px 0 0 2px;
          background-color: #ff0000;
          transition: 0.5s;
        }

        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 4px;
          border-radius: 0 2px 2px 0;
          background-color: #ff0000;
          transition: 0.5s;
        }

        & h3 {
          color: #fff;
          margin-top: 0.5rem;
        }
      }

      & .img {
        width: 90px;
        height: 90px;
        position: relative;
        border-radius: 45px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
          height: 90px;
          background-color: rgba(100, 100, 100, 0.5);
          border-radius: 45px 0 0 45px;
        }
        & > .skill-icon {
          width: 50px;
          z-index: 2;
        }
      }
    }
  }
}

.contact {
  @extend .content-width;
  @extend .mb-lg;
  @extend .mt-lg;

  background-size: cover;
  padding: 10px 0 30px;
  position: relative;
  z-index: 1;
  opacity: 0;
 

  &.inview {
    @include animation(
      $name: fadeIn,
      $duration: 3s,
      $delay: 0.5s,
      $timing-function: cubic-bezier(0.42, 0, 0.15, 1.01),
      $iteration-count: 1,
      $fill-mode: forwards
    );
  }

  &__items {
    display: flex;
    align-items: center;
    flex-direction: column;

    & h2 {
      color: #fff;
      font-size: 2.5em;
      margin-bottom: 18px;
      text-transform: uppercase;
    }
    & .contact-input {
      border-radius: 10px;
      margin-bottom: 15px;
      padding: 15px;
      width: 100%;
    }
    & .contact-textarea {
      border-radius: 10px;
      height: 150px;
      padding: 15px;
      width: 100%;
      margin-bottom: 30px;
    }
    .send {
      max-width: 245px;
  }
  }


//contact form 7 error


  .wpcf7-not-valid-tip {
    color: red;
    font-size: 1em;
    font-weight: normal;
    display: block;
}

  .wpcf7 form .wpcf7-response-output {
    margin: 2em 0.5em 1em;
    padding: 0.2em 1em;
    border: none; 
    color: white;



}

  // &.confirm {
  //   height: 51vh;
  // }
}



.error_list {
  @extend .font-md;
  padding: 10px 30px;
  color: $cRed;
  text-align: left;
  list-style: none;
  border: 1px solid $cRed;
  border-radius: 5px;
}

.logo {
  font-size: 42px;
  display: flex;

  &__img {
    width: 3em;
  }
}

.footer {
  padding: 60px 0 20px;
  
  @extend .content-width;

  &__nav {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__ul {
    @extend .flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__ul-sns{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 30px 0;
    list-style: none;
  }
  &__li {
    padding: 0;
    margin: 10px;

    & > a {
      color: $cSubTitle;
      transition: 1s;
      &:hover{
        color: $cWhite;
      }
    }
    &-sns{
      padding: 0;
      margin-right: 20px;

        & .youtube{
          position: relative;
          transition: 1s;
          width: 28px;
          height: 20px;
          &::before {
            background-image: url(../images/youtube.png);
            content: '';
            background-repeat: no-repeat;
            background-size: contain;
              position: absolute;
              width: 100%;
              height: 100%;
              filter: contrast(0.5);
          }
        }
      
        & .twitter{
          position: relative;
          transition: 1s;
          width: 20px;
          height: 20px;
          &::before {
            background-image: url(../images/twitter.svg);
            content: '';
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            width: 100%;
            height: 100%;
            filter: contrast(0.5);
  
          }
        }
      
        & .facebook{
          position: relative;
          transition: 1s;
          width: 20px;
          height: 20px;
          &::before {
            background-image: url(../images/facebook.svg);
            content: '';
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            width: 100%;
            height: 100%;
            filter: contrast(0.5);
  
          }
        }
      
        & .instagram{
          position: relative;
          transition: 1s;
          width: 20px;
          height: 20px;
          &::before {
            background-image: url(../images/ig.png);
            content: '';
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            width: 100%;
            height: 100%;
            filter: contrast(0.5);
  
          }
        }
      
        & .github{
          position: relative;
          transition: 1s;
          width: 20px;
          height: 20px;
          &::before {
            background-image: url(../images/github.svg);
            content: '';
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            width: 100%;
            height: 100%;
            filter: contrast(0.5);
  
          }
        }
        &:hover{
          filter: invert(1);
          cursor: pointer;
        }
    }
  }






  & .logo {
    font-size: 38px;
    margin-bottom: 10px;
    justify-content: center;
    &__img {
      transition: 1s;
      &:hover {
        filter: blur(2px);
      }
    }
  }
  &__copyright {
    text-align: center;
}
  
}


//side
.side {
  display: none;
  position: fixed;
  top: 90%;
  transform: translateY(-50%);
  transition: all 1s ease;

  & .tween-animate-title {
    color: $cWhite;
    text-decoration: none !important;
    margin: 0 30px;
    vertical-align: middle;
    letter-spacing: 2px;
  }

  &.left {
    left: -50px;

    &.inview {
      left: 50px;
    }

    & .side__inner {
      transform-origin: top left;
      transform: rotate(-90deg);
      & a {
        transition: color 1s;
      &:hover{
        color:$cRed;
      }
      }
    }
  }
  &.right {
    right: -100px;

    &.inview {
      right: 100px;
    }

    & .side__inner {
      transform-origin: top right;
      position:relative;
      & a {
        padding-top: 60px;
        color: $cWhite;
      }
      a span {
        position: absolute;
        bottom: 120%;
        left: 48%;
        width: 46px;
        height: 46px;
        margin-left: -23px;
        border: 1px solid $cWhite;
        border-radius: 100%;
      }
      a span::after {
        position: absolute;
        top: 50%;
        left: 50%;
        content: '';
        width: 16px;
        height: 16px;
        margin: -8px 0 0 -8px;
        border-left: 1px solid $cWhite;
        border-bottom: 1px solid $cWhite;
        transform: rotate(135deg);
      }
      a span::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        content: '';
        width: 44px;
        height: 44px;
        box-shadow: 0 0 0 0 rgba(255,255,255,.1);
        border-radius: 100%;
        opacity: 0;
        animation: scroll-down 3s infinite;
      }


      
      @keyframes scroll-down {
        0% {
          opacity: 0;
        }
        30% {
          opacity: 1;
        }
        60% {
          box-shadow: 0 0 0 60px rgba(255,255,255,.1);
          opacity: 0;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
}



.side-sp {
  display: block;
  position: fixed;
  top: 90%;
  right: 15%;
  transform: translateY(-50%);
  transition: all 1s ease;

   & .fade-in {
    transition: opacity 1s;
    visibility: hidden;
    opacity: 0;

    &.is-fade-in {
      visibility: visible;
      opacity: 1;
    }
  }
  &-inner {
    transform-origin: top right;
    position:relative;
    & a {
      padding-top: 60px;
      color: $cWhite;
    }
    a span {
      position: absolute;
      bottom: 120%;
      left: 48%;
      width: 46px;
      height: 46px;
      margin-left: -23px;
      border: 1px solid $cWhite;
      border-radius: 100%;
    }
    a span::after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
      width: 16px;
      height: 16px;
      margin: -8px 0 0 -8px;
      border-left: 1px solid $cWhite;
      border-bottom: 1px solid $cWhite;
      transform: rotate(135deg);
    }
    a span::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      content: '';
      width: 44px;
      height: 44px;
      box-shadow: 0 0 0 0 rgba(255,255,255,.1);
      border-radius: 100%;
      opacity: 0;
      animation: scroll-up-sp 5s infinite;
    }
    @keyframes scroll-up-sp {
      0% {
        opacity: 0;
      }
      30% {
        opacity: 1;
      }
      60% {
        box-shadow: 0 0 0 30px rgba(255,255,255,.1);
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
  }
}







//各タイトルトップ距離調整
.anchor {
  display: block;
  padding-top: 11rem;
  margin-top: -11rem;
}
.anchor2 {
  display: block;
  padding-top: 5.5rem;
  margin-top: -5.5rem;
}

.anchor3 {
  display: block;
  padding-top: 11rem;
}

//404.php,searchform.php
.not-found{
  color:$cWhite;
  margin-top: 20px;
}

form.search-form {
  display: flex;
  align-items: flex-end;
  opacity: 0;
  &.inview {
    @include animation(
      $name: fadeIn,
      $duration: 3s,
      $delay: 0.5s,
      $timing-function: cubic-bezier(0.42, 0, 0.15, 1.01),
      $iteration-count: 1,
      $fill-mode: forwards
    );
  }
}

[type="search"] {
  border-radius: 10px;
  margin: 20px 0 15px;
  padding: 5px;
  width: 100%;
  height: 2.8em;
}

input[name*="search"]{
  font-size: 1.0em;
  display: block;
  cursor: pointer;
  font-weight: bold;
  height: 2.8em !important;
  line-height: 0;
  width: 100%;
  padding: 1px 20px;
  transition: 0.3s;
  text-transform: uppercase;
  margin-left: 20px;
}


[type="submit"]:not(:disabled) {
  cursor: pointer;
  max-width: 245px;
  background-color: $cWhite;
  margin-bottom: 22px;
  transition: 1s;
  padding: 2px;
  &:hover {
    background-color: $cOrange;
    color: $cWhite;
  }
}

input.search-field{
  &::placeholder {
    text-align: center;
    font-size: 0.9em;
  }
}

.screen-reader-text{
  position: relative;

  &:before{
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 50%;
    height: 4px;
    border-radius: 3px;
    background-color: $cRed;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    transition: 5s ease;  
    @include animation(
      $name: slide-underline-left,
      $duration: 3s,
      $delay: 1s,
      $timing-function: cubic-bezier(0.42, 0, 0.15, 1.01),
      $iteration-count: infinite,
      $fill-mode: forwards
    );
  }

}


@keyframes slide-underline-left {
  0% {
    left: 0;
    width: 0;

  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    right: 0;
    left:100%;
    width: 0;
  }
}


//関連記事
.related-posts-title{
  background: $cOrange;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 20px 20px;
  position: relative;
  text-align: left;
  &::after {
    border: 5px solid transparent;
    border-top: 15px solid $cOrange;
    content: "";
    height: 0;
    left: 24px;
    position: absolute;
    top: 100%;
    width: 0;
  }
}
.related-posts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cell {
  max-width: 45%;
  margin-bottom: 20px;
}

.cell-img{
  text-align: left;
  overflow: hidden;
  img{
      vertical-align: bottom;
      width: 150px;
      height: 150px;
      object-fit: cover;
      transition: transform 0.5s;
      z-index: 1;
      &:hover{
         transform: scale(1.1);
      }
  }
}

.post-title {
  margin-top: 8px;
  width: 150px;
 a{
  color: #fff;
  font-size: 1em;
  word-break: break-all;
 }

}


//ajax
.ajax-content{
  text-align: center;
}
  .ajax_loadmore{
  }

// youtube
.youtube-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  & iframe{
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
  }
  }
